This notebook will be mainly used for the capstone project

In [6]:
import pandas as pd
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

<h2 id="strings">Bussiness Understanding</h2>

We want to predict the severity of any coallision when certain variables are in place. We will be taking in account weather, road, and light conditions as inputs to make a decision whether it is safe to drive some where, and the probability of getting into an accident.

<h2 id="strings">Data Understanding</h2>

The main attributes that will help us with out problem are:
- Location
- Person Count
- Vehicle Count
- Juction Type
- Weather Condition
- Road Condition
- Light Condition
- Speeding

In [10]:
csv_path = 'https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv'
df = pd.read_csv(csv_path)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [18]:
df_acc = df[['ROADCOND','LIGHTCOND','LOCATION','PERSONCOUNT','VEHCOUNT','JUNCTIONTYPE','WEATHER','SPEEDING','SEVERITYCODE']]
df_acc.head()

,ROADCOND,LIGHTCOND,LOCATION,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,WEATHER,SPEEDING,SEVERITYCODE
0,Wet,Daylight,5TH AVE NE AND NE 103RD ST,2,2,At Intersection (intersection related),Overcast,NaN,2
1,Wet,Dark - Street Lights On,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,2,2,Mid-Block (not related to intersection),Raining,NaN,1
2,Dry,Daylight,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,4,3,Mid-Block (not related to intersection),Overcast,NaN,1
3,Dry,Daylight,2ND AVE BETWEEN MARION ST AND MADISON ST,3,3,Mid-Block (not related to intersection),Clear,NaN,1
4,Wet,Daylight,SWIFT AVE S AND SWIFT AV OFF RP,2,2,At Intersection (intersection related),Raining,NaN,2

In [19]:
df_acc.describe()

         PERSONCOUNT       VEHCOUNT   SEVERITYCODE
count  194673.000000  194673.000000  194673.000000
mean        2.444427       1.920780       1.298901
std         1.345929       0.631047       0.457778
min         0.000000       0.000000       1.000000
25%         2.000000       2.000000       1.000000
50%         2.000000       2.000000       1.000000
75%         3.000000       2.000000       2.000000
max        81.000000      12.000000       2.000000

In [25]:
def list_count(columns, df):
    for col in columns:
        print(col)
        print(df[col].value_counts())
        print()

df_acc = df[['ROADCOND','LIGHTCOND','PERSONCOUNT','VEHCOUNT','JUNCTIONTYPE','WEATHER','SPEEDING','SEVERITYCODE']]

#Use value_counts() method in each column
list_count(df_acc, df_acc)

ROADCOND
Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

LIGHTCOND
Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

PERSONCOUNT
2     114231
3      35553
4      14660
1      13154
5       6584
0       5544
6       2702
7       1131
8        533
9        216
10       128
11        56
12        33
13        21
14        19
15        11
17        11
16         8
44         6
18         6
20         6
25         6
19         5
26         4
22         4
27         3
28         3
29         3
47         3
32         3
34         3
37         3
23         2
21         2
24         2
30         2
36         2
57         1
31         1
35         1
39         1
41         1
43         1
48         1
53         1
54         1
81         1
Name: PERSONCOUNT, dtype: int64

VEHCOUNT
2     147650
1      25748
3      13010
0       5085
4       2426
5        529
6        146
7         46
8         15
9          9
11         6
10         2
12         1
Name: VEHCOUNT, dtype: int64

JUNCTIONTYPE
Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

WEATHER
Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

SPEEDING
Y    9333
Name: SPEEDING, dtype: int64

SEVERITYCODE
1    136485
2     58188
Name: SEVERITYCODE, dtype: int64